---
import * as interfaces from "../../lib/interfaces.ts";
import { buildHeadingId } from "../../lib/blog-helpers.ts";
import { convertToTailwindColor } from "../../lib/style-helpers.ts";

export interface Props {
	block: interfaces.Block;
	headings: interfaces.Block[];
}

const { block, headings } = Astro.props;
---

<div class="table-of-contents">
	{
		headings.map((headingBlock: interfaces.Block) => {
			const heading = headingBlock.Heading1 || headingBlock.Heading2 || headingBlock.Heading3;

			let indentClass = "";
			if (headingBlock.Type === "heading_2") {
				indentClass = "pl-6";
			} else if (headingBlock.Type === "heading_3") {
				indentClass = "pl-12";
			}

			return (
				<a
					href={`#${buildHeadingId(heading)}`}
					class={`block leading-7 table-of-contents hover:font-bold ${convertToTailwindColor(
						block.TableOfContents.Color,
					)} ${indentClass}`}
				>
					{heading.RichTexts.map((richText: interfaces.RichText) => richText.PlainText).join("")}
				</a>
			);
		})
	}
</div>
