---
import { RichText } from "../../../lib/interfaces.ts";
import { convertToTailwindColor } from "../../../lib/style-helpers.ts";

export interface Props {
	richText: RichText;
}

const { richText } = Astro.props;
---

{
	/* prettier-ignore */
	richText.Annotation.Color && richText.Annotation.Color !== 'default' ? (
    <span class={convertToTailwindColor(richText.Annotation.Color)}><slot /></span>
  ) : (
    <slot />
  )
}
