---
import type { TocItem } from "@/utils";

interface Props {
	heading: TocItem;
}

const {
	heading: { slug, text, depth, subheadings },
} = Astro.props;
---

<!-- //NOTE: change this to depth 1 everywhere because that is how it works with notion at the moment -->
<li class={`${depth > 1 ? "ms-2" : ""}`}>
	<a
		class={`block line-clamp-2 hover:text-accent ${depth <= 1 ? "mt-3" : "mt-2 text-[0.6875rem]"}`}
		href={`#${slug}`}
		aria-label={`Scroll to section: ${text}`}><span class="me-0.5">#</span>{text}</a
	>
	{
		!!subheadings.length && (
			<ul>
				{subheadings.map((subheading) => (
					<Astro.self heading={subheading} />
				))}
			</ul>
		)
	}
</li>
